* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #282425;
  background-color: #fff1e6;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

/* Menu */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #282425;
  height: 70px;
  color: white;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  padding: 20px 30px;
  color: white;
  display: inline-block;
  width: 100%;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: #756158;
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

/* Welcome Section */
.welcome {
  background-image: url(images/header.jpg);
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  text-align: center;
  color: white;
  font-style: italic;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

/* Headlines */
h1,
h2,
h3 {
  color: #756158;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 80px;
  color: white;
  margin: 0;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Sections about and vip */
.about,
.vipsection {
  padding: 50px 15%;
  overflow: auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vipsection {
  background-color: #f9e3d0;
  position: relative;
}

.about p {
  width: 70%;
  text-align: center;
}

/* Images in about section */
img {
  width: 40%;
  transition: all 0.5s linear;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

/* Footer */
footer {
  background-color: #282425;
  color: whitesmoke;
  text-align: center;
  padding: 20px 0px;
}

/* Form */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.error {
  color: red;
  font-size: 18px;
  margin-bottom: 15px;
}

.success {
  color: green;
  font-size: 18px;
  margin-bottom: 15px;
}

.submit-btn {
  background-color: #756158;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

/* Scroll arrow icon */
.arrow-icon {
  font-size: 40px;
  position: absolute;
  bottom: 5px;
  right: 20px;
  display: none;
}

@media (max-width: 1000px) {
  img {
    width: 100%;
  }

  .images {
    flex-direction: column;
    align-items: center;
  }

  .about p {
    width: 100%;
  }
}

@media (max-width: 650px) {
  header {
    position: relative;
  }

  header nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }

  header nav li {
    display: block;
    text-align: center;
    background-color: #282425;
  }

  h1 {
    font-size: 60px;
  }
}

@media (min-width: 650px) {
  header nav {
    display: block !important;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}
